<a [routerLink]="['/courses','add']" class="btn btn-danger m-lg-1"> Add</a> 
<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Lec Hrs</th>
                <th scope="col">Lab Hrs</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let item of Courses">
                <td scope="row">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.lecHours}}</td>
                <td>{{item.labHours}}</td>
                <td>
                    <a [routerLink]="['/courses','details',item.id]" class="btn btn-outline-danger m-lg-1"> Details</a> 
                    <a [routerLink]="['/courses','update',item.id]" class="btn btn-outline-primary m-lg-1"> Update</a> 
                    <button (click)="delete(item.id)" class="btn btn-outline-danger ">Delete</button>
                </td>
            </tr>          
        </tbody>
    </table>
</div>
